config_version = 1

[system]
hostname = "{{ temp.hostname }}"

[user]
name = "pi"
# To encrypt, we can use "openssl passwd -5 raspberry"
password = "{{ user_password_crypt }}"
password_encrypted = true

[ssh]
enabled = true
password_authentication = false
authorized_keys = [ "{{ ssh_key_public }}" ]

[wlan]
ssid = "{{ temp.wifi.ssid }}"
password = "{{ temp.wifi.psk }}"
password_encrypted = false
hidden = false
country = "{{ temp.wifi.country }}"

[locale]
keymap = "{{ temp.keyboard.layout }}"
timezone = "{{ temp.timezone }}"

