#!/bin/bash

set +e

CURRENT_HOSTNAME=`cat /etc/hostname | tr -d " \t\n\r"`
echo {{ host_name }} >/etc/hostname
sed -i "s/127.0.1.1.*$CURRENT_HOSTNAME/127.0.1.1\t{{ host_name }}/g" /etc/hosts

FIRSTUSER=`getent passwd 1000 | cut -d: -f1`
FIRSTUSERGROUP=`getent passwd 1000 | cut -d: -f4`
FIRSTUSERHOME=`getent passwd 1000 | cut -d: -f6`
echo "$FIRSTUSER:"'{{ user_password_crypt }}' | chpasswd -e

systemctl enable ssh
mkdir -p $FIRSTUSERHOME/.ssh
chown $FIRSTUSER:$FIRSTUSERGROUP $FIRSTUSERHOME/.ssh
chmod 700 $FIRSTUSERHOME/.ssh
cat >$FIRSTUSERHOME/.ssh/authorized_keys <<KEYEOF
{{ ssh_key_public }}
KEYEOF
chown $FIRSTUSER:$FIRSTUSERGROUP $FIRSTUSERHOME/.ssh/authorized_keys
chmod 600 $FIRSTUSERHOME/.ssh/authorized_keys

cat >/etc/wpa_supplicant/wpa_supplicant.conf <<WPAEOF
country=DE
ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
ap_scan=1

update_config=1
network={
    ssid="{{ wifi_ssid }}"
    psk="{{ wifi_psk }}"
}
WPAEOF
chmod 600 /etc/wpa_supplicant/wpa_supplicant.conf
rfkill unblock wifi
for filename in /var/lib/systemd/rfkill/*:wlan ; do
  echo 0 > $filename
done

rm -f /etc/xdg/autostart/piwiz.desktop

rm -f /etc/localtime
echo "Europe/Berlin" >/etc/timezone
dpkg-reconfigure -f noninteractive tzdata

cat >/etc/default/keyboard <<KBEOF
XKBMODEL="pc105"
XKBLAYOUT="de"
XKBVARIANT=""
XKBOPTIONS=""
KBEOF
dpkg-reconfigure -f noninteractive keyboard-configuration

cp /boot/firmware/firstrun.sh /boot/firmware/firstrun.sh--old
cp /boot/firmware/cmdline.txt /boot/firmware/cmdline.txt--old

rm -f /boot/firmware/firstrun.sh
sed -Ei 's|systemd\.\S+||g' /boot/firmware/cmdline.txt
exit 0

